*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    height: 80vh;
    display: block;
    justify-content: center;
    align-items: center;    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(111,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.nabvar{
}
ul{
    width: 100%;
    height: 40px;
    background-color:#00000066; 
    color:#fff;
    font-family: monospace;
    list-style: none;
    display: flex;  
    align-items: center;
}
li{
    margin-left: 20px;
}
li:hover{
color: #a634cc;
cursor: pointer;
}

/*elemento padre*/
.terminal{
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    height: 80vh;

}
/*barra de cerrar/minimisar/maximizar*/
.terminal_bar{
    background-color: #1f1f1ff1;
    width: 600px;
    height: 10px;   
    padding: 10px;
    margin: 0px;
    border: 0px;
    display: flex;
    align-items: center;
    border-radius: 5px  5px 0 0  ;
    
 }
 /*   Iconos  */
 .icon{
    width: 10px;
    height: 10px;
    border-radius: 50%; /* Hace que los iconos sean circulares */
    margin-right: 10px; /* Agrega margen a la derecha para espaciar los iconos */
    transition: background-color 0.2s; /* Transición para el hover */
 }
 .icon:hover {
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}
.icon.green{
    background-color: #49c583; /* Cambia el color de fondo según tus preferencias */

}
.icon.red{
    background-color: #ba1e4a; /* Cambia el color de fondo según tus preferencias */

}.icon.yellow{
    background-color: #c39304; /* Cambia el color de fondo según tus preferencias */
}
.icon.red:hover {
    background-color: #75132f; 
}
.icon.green:hover {
    background-color: #41a771; 
}.icon.icon.yellow:hover {
    background-color: #7f6004; 
}

 .terminal_txt{
    width: 600px;
    height: 300px;
    margin: 0px;
    padding: 20px;
    border: 0px;
    background-color: #00000092;
    color:#dfdfdf;
    display: block;
    border-radius: 0 0 5px 5px ;
 }
 
 .terminal__pwd{
    color: #516beb;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    
 }
 span.coment{
    color: #9b9b9b;
    
 }
 span.code{
    color: #d2d2d2;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
 }

/* Colores del tema One Dark Pro para Java */
.yellow{
    color: #e5c07b;
}
.blue{
    color: #56b6c2
}
.green {
    color:#98c379; 
}
 span.code.java{
    width: 35ch;
    animation: typing 2s steps(35),
    blink .5s step-end infinite alternate;
    overflow: hidden;
 }
 span.code.C{
    width: 23ch;
    animation: typing 2s steps(23),
    blink .5s step-end infinite alternate;
    overflow: hidden;
 }
 span.code.python{
    width: 22ch;
    animation: typing 2s steps(22),
    blink .5s step-end infinite alternate;
    overflow: hidden;  
 }
@keyframes typing{
    from{
        width: 0;
    }
}
@keyframes blink{
    50% { border-color: transparent;}
}